{{ define "subscriber-optin" }}
{{ template "header" . }}
<section style="direction: rtl; text-align: right;">
    <h2>تأكيد الاشتراك</h2>
    <p>مرحباً {{ .Subscriber.FirstName }}</p>
    <p>تم إضافتك إلى القوائم التالية:</p>
    <ul>
        {{ range $i, $l := .Lists }}
        {{ if eq .Type "public" }}
        <li>{{ .Name }}</li>
        {{ else }}
        <li>قائمة خاصة</li>
        {{ end }}
        {{ end }}
    </ul>
    <p>أكد اشتراكك بالنقر على الزر أدناه.</p>
    <p>
        <a href="{{ .OptinURL }}" class="button">تأكيد الاشتراك</a>
    </p>
    <a href="{{ .UnsubURL }}?manage=true" class="button">إلغاء الاشتراك</a>
</section>

{{ template "footer" }}
{{ end }}